body{
    background: #eee;
}

.navbar-default .navbar-brand{
    color: #3d3d3d;
}

.navbar-default .navbar-toggle{
    border-color: #3d3d3d;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
    background-color: #ededed;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a{
    color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #70ace2;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #70ace2;
    background: #f7f7f7;
}

nav.navbar #navbar ul.nav.navbar-nav li a span.glyphicon {
    margin-right: 0.5em;
}

.bottom-panel{
    position: fixed;
    bottom: -11em;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border-top: 8px solid #ffffff;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.3);
}

.bottom-panel .btn.panel-show-hide{
    /*background: green;*/
    width: 100%;
    padding: 0.05em;
    height: 1.7em;
    margin: 0;
    text-align: center;
    color: #3d3d3d;
    font-size: 1em;
}

.bottom-panel .btn.panel-show-hide:active,
.bottom-panel .btn.panel-show-hide.active{
    box-shadow: none;
}

.bottom-panel .btn.panel-show-hide span.glyphicon{
    font-size: 0.8em;
}

.bottom-panel .more-options{
    background: #f7f7f7;
    /*padding: 0 2em;*/
    padding: 0;
    margin: 0;
}

.bottom-panel .more-options .row{
    background: #ffffff;
    /*border-bottom: 0.5em solid #f7f7f7;*/
    border: 1px solid #f1f1f1;
    margin-bottom: 0.5em;
    /*padding-bottom: 1em;*/
}

.bottom-panel .more-options .row.first{
    border-top: 0;
}

.bottom-panel .more-options .row.last{
    border-bottom: 0;
}

.bottom-panel .more-options .section-options{
    /*background: #e4e4e4;*/
    padding: 0.3em;
    margin: 0 0.4em 0.4em 0;
    height: 7em;
    width: 48.4%;
    /*border-radius: 3px;
    -webkit-box-shadow: 3px 3px 8px -5px rgba(120,120,120,1);
    -moz-box-shadow: 3px 3px 8px -5px rgba(120,120,120,1);
    box-shadow: 3px 3px 8px -5px rgba(120,120,120,1);*/
}

.bottom-panel .more-options .section-options.top{
    height: 4em;
}

.bottom-panel .more-options .section-options.one-column{
    width: 99%;
}

.bottom-panel .more-options .section-options .section-title{
    /*background: yellow;*/
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #3d3d3d;
    margin: 0.3em 0 0.5em 0;
}

/*.bottom-panel .more-options .section-options .section-title.left{
    padding: 0 0 0 2em;
    text-align: left;
    margin: 0.5em 0 1em 0;
}*/

.bottom-panel .more-options .section-options .section-content{
    /*background: orange;*/
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #0e2b45;
}

.bottom-panel .more-options .section-options .section-content img{
    width: 3.5em;
}

.bottom-panel .more-options .section-options .section-content img.waze{
    width: 3.2em;
}

.bottom-panel .more-options .section-options .section-content img.maps{
    width: 2.9em;
    margin-top: 0.25em;
}

.bottom-panel .more-options .section-options .section-content span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
    color: #5a5a5a;
}

.bottom-panel .more-options .section-options .section-content span.waze{
    margin-top: 0.37em;
}

.bottom-panel .more-options .section-options .section-content span.maps{
    margin-top: 0.47em;
}

.bottom-panel .more-options .section-options .section-content.two-columns{
    width: 50%;
    float: left;
}

.bottom-panel .more-options .section-options .section-content.three-columns{
    width: 33.3%;
    float: left;
}